body{
  background-color: black;
}
.contanier{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgb(240, 38, 38), yellow);
}
.input{
  height: 40px;
  margin-top: 10px;
  border-radius: 8px;
  max-width: 350px;
  width: 100%;
  padding: 8px;
  border: solid rgb(24, 5, 5);
}
